ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgba(29, 117, 56, 0.534);
  }

  li a:last-child {
    border-right: none;
  }

  .active {
    background-color: rgba(101, 207, 133, 0.89);
}

body {
    padding-top: 40px;
}